       #cabecalho
       {
        width: 100%;
        height: 100px; 
        text-align: center;
        position: relative;
        background: #F2F2F2;
       }
       #area-contato
       {
        padding: 10px;
        margin-bottom:10px;
        align-items: center;
        text-align: center;
       }
       body
       {         
        background: -webkit-radial-gradient(rgb(28, 147, 255), rgb(3, 171, 204));
        background: radial-gradient(rgb(28, 147, 255), rgb(3, 171, 204));
       }
        a
        {
          padding: 10px;
          font-size: 18px;
        }
        .img
        {        
          margin: 50px 10px 50px 10px;          
        }
       .texto
       {
        background: #FFFF;
        width: 100%;
        padding:5px;  
        position: relative;
    
        
       }
        a
        {
          text-decoration: none;
          padding: 5px;
        }
      /*Links não visitados*/
        a:link
        {
          color: #b9c941;
        }
      /*links visitados*/
        a:visited
        {
          color: #c0c0c0;
        }
      /*links hover passar o cursor sobre o link*/
        a:hover
        {
          color: #FFF;
          background:#6d790f;
        }
      /*links ativos*/    
        a:active
        {
          color: #e4f371;
        } 
      